@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
.warpper {
	position: relative;
}
.head, .body, .foot {
	width: 100%;
	position: relative;
}
.head {
	margin-top: 18px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.head ul {
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
}
.head ul li {
	float: left;
	margin: 0 9px;
}
.head ul li a {
	text-decoration: underline;
	color: #444;
	font-weight: bold;
}
.head ul li a:hover {
	color: #5193ff;
}
.head ul li:last-child {
	margin-right: 10px;
}
.head ul li:last-child a {
	font-weight: normal;
	padding: 3px 6px;
	background: #317ef3;
	color: #fff;
}
.head ul li:last-child a:hover {
 
	background: #68bffc;
	color: #fff;
}
.body .lg {
	margin: 0 auto 28px;
	display: block;
	width: 270px;
	height: 100%;
}
.body .search {
	width: 640px;
	margin: 0 auto;

}
.body .search .input_txt {
	width: 518px;
	border: 1px solid #ddd;
	height: 34px;
	line-height: 34;
	padding:0 10px;
	color:#444;
}
.body .search .submit {
	width: 100px;
	color: #fff;
	height: 36px;
	display: block;
	line-height: 36px;
	background: #317ef3;
	border: none;
}
.foot {
	line-height: 24px;
	font-size: 12px;
	height: 100px;
	position: absolute;
	bottom: 40px;
	width: 100%;
	margin: 0 auto;
}
.foot_in {
	overflow: hidden;
	width: 640px;
	margin: 0 auto;
}
.foot a {
	padding-right: 10px;
	text-decoration: underline;
	color: #444;
}
.qrcode_img {
	background: url(../images/zbios_62c636fe.png) 0 0 no-repeat;
	width: 60px;
	height: 60px;
}
.qrcode_text {
	margin: 8px 0 0 10px;
	line-height: 20px;
}
.sj_bd + .sj_bd {
	margin-left: 33px;
}
.ft_link {
	padding-top: 4px;
}
